.item-wrapper {
  justify-content: center;
  box-sizing: border-box;
  border-bottom: solid 1px #cccccc;
  padding: 10px 15px;
}

.item-row {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.item-name {
  font-size: 14px;
}

.item-info {
  font-size: 12px;
  color: #999999;
}

.item-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.item-tag {
  background-color: aliceblue;
  color: #999999;
  border: solid 1px #999999;
  border-radius: 3px;
  padding: 0px 2px;
  font-size: 12px;
  line-height: 16px;
  margin-right: 2px;
  box-sizing: border-box;
  height: 18px;
}

.item-new-label,
.item-hot-label {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 3px;
  color: white;
}

.item-new-label {
  background-color: red;
}

.item-hot-label {
  background-color: orange;
}