<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"  package="io.dcloud.hellouniappx">

    <application>
        <!--meta-data 请设置腾讯定位api key-->
        <meta-data android:name="TencentMapSDK" android:value="D7RBZ-SX7CT-2D5XL-VGI2X-HYT6J-BNFUG"/>
    </application>


</manifest>